.outer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.keys1 {
  display: flex;
  flex: 1;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
}

.showbox {
  width: 100px;
  height: 60px;
  border: 2px solid green;
  margin-left: 20px;
  background-color: #fff;
  line-height: 60px;
  text-align: center;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.rotate {
  border: 2px solid red;
}
.leftup {
  border: 2px solid orange;
}
.scale {
  border: 2px solid blue;
}
.green {
}

.red {
  width: 200px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  font-size: 20px;
  background-color: red;
  margin-left: 100px;
  border: none;
  border-radius: 5px;
}
.showbox.green:hover {
  background-color: red;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}
.showbox.red:hover {
  background-color: #fff;
  border-radius: 0px;
  border: 2px solid green;
  font-size: 35px;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.showbox.slideright:hover {
  -webkit-transform: translate(3em, 0);
  -moz-transform: translate(3em, 0);
  -o-transform: translate(3em, 0);
  -ms-transform: translate(3em, 0);
  transform: translate(3em, 0);
}
.showbox.rotate:hover {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.showbox.leftup:hover {
  -webkit-transform: translate(-3em, -2em);
  -moz-transform: translate(-3em, -2em);
  -o-transform: translate(-3em, -2em);
  -ms-transform: translate(-3em, -2em);
  transform: translate(-3em, -2em);
}
.showbox.scale:hover {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}
